parameters:


application:
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	- App\Core\Security\PermissionFactory
	- App\Core\Security\Authorizator(@App\Core\Security\PermissionFactory::create)
